* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* variables */
:root {
  /* darker colors */
  --black-clr: #000;
  --deep-blue-clr: #003366;
  --dark-grey-clr: #333333;
  --teal-clr: #1abc9c;

  /* lighter colors */
  --white-clr: #fff;
  --soft-beige-clr: #f5f5dc;
  --light-gray-clr: #ecf0f1;

  /* bright colors */
  --sky-blue-clr: #87ceeb;
  --gold-clr: #ffd700;
  --coral-clr: #ff7f50;

  /* fonts */
  --lato-fnt: "Lato", sans-serif;
  --playfair-display-fnt: "Playfair Display", serif;
}

/* html document */
html {
  scroll-behavior: smooth;
  font-size: 100%;
  letter-spacing: 1px;
}

/* body */
body {
  background-color: var(--white-clr);
  font-family: var(--lato-fnt);
  position: relative;
  /* list  */
  ul {
    /* list item */
    li {
      list-style-type: none;

      /* anchor */
      a {
        font-size: 1.15rem;
        text-decoration: none;
        color: var(--white-clr);
        transition-property: color;
        transition: 0.3s ease-in-out;
        &:hover {
          color: var(--gold-clr);
          text-decoration: underline;
          text-underline-offset: 0.5rem;
          text-decoration-thickness: 2px;
        }
      }
    }
  }

  /* header */
  .cls-header {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--deep-blue-clr);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    transition: all 0.5s ease-in-out;
    z-index: 99;

    box-shadow: 0 2px 4px rgb(18, 18, 18);
    /* logo */
    .logo {
      width: 100px;
      a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        text-decoration: none;

        /* logo top */
        #logo-top {
          color: var(--gold-clr);
          font: normal 500 1rem var(--lato-fnt);
        }
        /* logo bottom */
        #logo-bottom {
          color: var(--coral-clr);
          font: normal 700 1.25rem var(--playfair-display-fnt);
        }
      }
    }

    /* navigation list and user list */
    .nav-bar .nav-list,
    .user-list {
      display: flex;
      align-items: center;
      gap: 2rem;
    }

    /* navigation bar */
    /* .nav-bar {
      .nav-list {
      }
    } */

    /* user list */
    .user-list {
      .menu {
        color: var(--white-clr);
        cursor: pointer;
        font-size: 2rem;
        /* z-index might not be necessary */
        z-index: 99;

        /* display */
        display: none;
      }
    }
  }

  /* main */
  main {
    /* landing page view */
    .sect-home {
      margin-top: 80px;
      height: 350px;
      background: var(--coral-clr)
        url("https://images.pexels.com/photos/28115456/pexels-photo-28115456/free-photo-of-a-staircase-with-bookshelves-and-potted-plants.jpeg")
        no-repeat center/cover fixed;
      object-fit: contain;
      object-position: center;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: var(--white-clr);

      div {
        background-color: rgba(51, 51, 51, 0.9);
        padding: 20px;
        border-radius: 5px;
        /* heading */
        .hm-header {
          text-align: center;
          h1 {
            font: normal 700 2.5rem var(--playfair-display-fnt);
            margin-bottom: 25px;
          }
          p {
            font-size: 1.25rem;
          }
          p:last-child {
            margin-bottom: 25px;
          }
        }

        /* search */
        .hm-search {
          display: flex;
          align-items: center;
          justify-content: center;
          /* search field and search button */
          #id-search,
          #id-search-btn {
            outline: none;
            border: 0;
            border-radius: 5px;
            height: 48px;
            padding: 0 1rem;
            transition-property: opacity, outline;
            transition: 0.5s ease-in-out;

            &:hover {
              opacity: 0.9;
              outline: 3px solid var(--teal-clr);
              outline-offset: -4px;
            }
          }
          /* seearch field */
          #id-search {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            font: normal 300 1rem var(--lato-fnt);
          }
          /*  search button*/
          #id-search-btn {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            cursor: pointer;
            color: var(--white-clr);
            background: var(--teal-clr);
            font: normal 500 1.25rem var(--playfair-display-fnt);

            &:hover {
              outline: 2px solid var(--white-clr);
            }
          }
        }
      }
    }

    /* results */
    .sect-result {
      background-color: var(--dark-grey-clr);
      color: var(--light-gray-clr);
      padding: 2rem;

      display: none;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      /* book gallery */
      .cls-gallery {
        display: flex;
        flex-flow: wrap;
      }

      /* pagination */
      .cls-pagination {
      }

      /* reading list */
      .cls-reading-list {
      }
    }
  }
}

/* media rules */

@media screen and (max-width: 768px) {
  .nav-bar {
    display: none;
  }
}
